import /tee.rc

on init
mkdir /mnt/vendor/persist
mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
setprop persist.sys.firstlaunch false

on fs
    install_keyring
    setprop crypto.ready 1

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0


on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

# Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/by-name/preloader_b /dev/block/by-name/preloader_ufs_b


    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

#Add for OPPO FBE
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
     user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system/bin/android.hardware.keymaster@3.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0


service hwservicemanager /system/bin/hwservicemanager
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    group system readproc
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
    -r /vendor/app/mcRegistry/6b3f5fa0f8cf55a7be2582587d62d63a.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /odm/vendor/app/mcRegistry/09070000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0


#For decryption
on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-3-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0
    
on property:enable.fbe.service=0
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeperd
    stop gatekeeper-1-0  


on boot
    start health-hal-2-1
    start boot-hal-1-0   #for booting ofox

    chown system system /proc/touchpanel/tp_fw_update
    write /proc/touchpanel/tp_fw_update 1

service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    disabled
    user root

service boot-hal-1-0 /system/bin/android.hardware.boot@1.0-service  #for booting ofox
    disabled
    user root

   
